---
import Layout from "../layouts/Layout.astro";
import "../../style/sass/globals.scss";
import pokemons from "../lib/db/pokemons.json";

let pokemon = [...pokemons];
let capturedPokemon = [];
let interval = null;

function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
}

function setRandomPosition() {
  const windowHeight = window.innerHeight;
  const windowWidth = window.innerWidth;

  const randomTop = Math.floor(Math.random() * (windowHeight - 200));
  const randomLeft = Math.floor(Math.random() * (windowWidth - 200));

  return { top: `${randomTop}px`, left: `${randomLeft}px` };
}

function onLoad() {
  interval = setInterval(() => {
    pokemon = shuffleArray([...pokemons]);
    capturedPokemon = pokemon.slice(0, 1);
    const randomPosition = setRandomPosition();
    const randomContainer = document.querySelector(
      ".random__container"
    ) as HTMLElement; // Assertion de type

    if (randomContainer) {
      randomContainer.style.top = randomPosition.top;
      randomContainer.style.left = randomPosition.left;
    }
  }, 2000);
}
---

<Layout title="Welcome to Astro.">
  <section class="home">
    <div class="random__container">
      {
        pokemon.map((pokemon) => (
          <div class="item">
            <p>{pokemon.name}</p>
            <img src={pokemon.sprites.front_default} alt={pokemon.name} />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
