---
import Layout from "../layouts/Layout.astro";
import pokemons from "../lib/db/pokemons.json";

let interval = null;
---

<Layout title="Welcome to Astro.">
  <section class="home">
    <div class="random__container"></div>
  </section>
</Layout>

<script>
  import pokemonData from "../lib/db/pokemons.json";

  let interval;
  let capturedPokemon = null;

  function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
  }

  function setRandomPosition() {
    const windowHeight = window.innerHeight;
    const windowWidth = window.innerWidth;

    const randomTop = Math.floor(Math.random() * (windowHeight - 200));
    const randomLeft = Math.floor(Math.random() * (windowWidth - 200));

    return { top: `${randomTop}px`, left: `${randomLeft}px` };
  }

  function getRandomPokemon() {
    shuffleArray(pokemonData);
    return pokemonData.slice(0, 1)[0];
  }

  interval = setInterval(() => {
    document.querySelector(".random__container").innerHTML = "";

    capturedPokemon = getRandomPokemon();
    const randomPosition = setRandomPosition();
    // console.log(capturedPokemon.name);

    const item = document.createElement("div");
    item.classList.add("item");
    item.innerHTML = `
    <img src=${capturedPokemon.sprites.front_default} alt=${capturedPokemon.name} />
  `;
    document.querySelector(".random__container").appendChild(item);

    const randomContainer = document.querySelector(".random__container");

    if (randomContainer) {
      randomContainer.style.top = randomPosition.top;
      randomContainer.style.left = randomPosition.left;
    }
  }, 2000);

  const items = document.querySelectorAll(".random__container");
  items.forEach((item) => {
    // event click
    item.addEventListener("click", () => {
      // clearInterval(interval);
      // const { id, name, sprites } = capturedPokemon;
      // const uuid = Math.floor(Math.random() * 1000000);

      // const pokemon = {
      //   id: id,
      //   uuid: uuid,
      //   name,
      //   sprites: capturedPokemon.sprites.front_default,
      // };

      // const homeSection = document.querySelector(".home");
      // const div = document.createElement("div");
      // div.classList.add("catched");
      // div.innerHTML = `<p>${pokemon.name} attrapé !</p>`;
      // homeSection.appendChild(div);

      // const img = document.querySelector(".item");
      // img.classList.add("catched__item");

      // if (window.location.pathname === "/") {
      //   setTimeout(() => {
      //     const catched = document.querySelector(".catched");
      //     if (catched) {
      //       catched.remove();
      //     }
      //   }, 2000);
      // }
      console.log("lol");
    });
  });

  // const { id, name, sprites } = capturedPokemon;
  // const uuid = Math.floor(Math.random() * 1000000);

  // const pokemon = {
  //   id: id,
  //   uuid: uuid,
  //   name,
  //   sprites: capturedPokemon[0].sprites.front_default,
  // };

  // const homeSection = document.querySelector(".home");
  // const div = document.createElement("div");
  // div.classList.add("catched");
  // div.innerHTML = `<p>${pokemon.name} attrapé !</p>`;
  // homeSection.appendChild(div);

  // const img = document.querySelector(".item");
  // img.classList.add("catched__item");

  // if (window.location.pathname === "/") {
  //   setTimeout(() => {
  //     const catched = document.querySelector(".catched");
  //     if (catched) {
  //       catched.remove();
  //     }
  //   }, 2000);
  // }
</script>
