---
import Layout from "../../layouts/Layout.astro";
import pokemonData from "../../lib/db/pokemons.json";
---

<Layout title="Pokedex">
  <section class="pokedex">
    {
      pokemonData.map((pokemon) => (
        <a href={`/pokedex/${pokemon.id}`} class="item" data-id={pokemon.id}>
          <p>{pokemon.name}</p>
          <img src={pokemon.sprites.front_default} alt={pokemon.name} />
        </a>
      ))
    }
  </section>
</Layout>

<script>
  import seenData from "../../lib/db/seen.json";

  const pokedexItems = document.querySelectorAll(".pokedex .item");

  pokedexItems.forEach((item: any) => {
    const pokemonId = parseInt(item.dataset.id, 10);
    const isCaptured = seenData.some((pokemon) => pokemon.id === pokemonId);

    if (isCaptured) {
      item.classList.add("captured");
    }
  });
</script>
